What routes are most profitable?

In [1]:
# Import the dependencies
import pandas as pd
from pathlib import Path

In [2]:
# Open the csv data file
csv_path = Path("../Data/CSV/cleaned_flight_data.csv")

In [3]:
# Create a DataFrame from the csv data
df = pd.read_csv(csv_path)

# Display the first 5 rows of the DataFrame
df.head()

,tbl,Year,quarter,departure_city_id,arrival_city_id,departure_city,arrival_city,departure_airport_id,arrival_airport_id,departure_airport,...,large_ms,fare_lg,carrier_low,lf_ms,fare_low,tbl1apk,departure_latitude,departure_longitude,arrival_latitude,arrival_longitude
0,Table 1a,2010,1,34614,33195,"Salt Lake City, UT","Tampa, FL (Metropolitan Area)",14869,15304,SLC,...,0.38,247.69,US Airways Group Inc.,0.20,166.99,201011486915304SLCTPA,40.758478,-111.888142,37.860600,-78.804199
1,Table 1a,1998,4,30189,31703,"Colorado Springs, CO","New York City, NY (Metropolitan Area)",11109,12197,COS,...,0.73,292.60,Northwest Airlines Inc.,0.24,248.27,199841110912197COSHPN,38.835224,-104.819798,40.123164,-75.333718
2,Table 1a,1998,4,30198,30852,"Pittsburgh, PA","Washington, DC (Metropolitan Area)",14122,10821,PIT,...,0.93,245.70,Continental Airlines Inc.,0.03,71.30,199841412210821PITBWI,40.442169,-79.994945,38.892062,-77.019912
3,Table 1a,2009,3,32211,32575,"Las Vegas, NV","Los Angeles, CA (Metropolitan Area)",12889,14908,LAS,...,0.58,118.28,US Airways Group Inc.,0.41,102.75,200931288914908LASSNA,36.169202,-115.140597,34.052238,-118.243344
4,Table 1a,1993,4,30255,30852,"Huntsville, AL","Washington, DC (Metropolitan Area)",12217,12264,HSV,...,0.48,275.50,United Air Lines Inc.,0.25,197.69,199341221712264HSVIAD,34.729538,-86.585283,38.892062,-77.019912

In [4]:
# Group the data by departure and arrival airports
grouped_routes = df.groupby(['departure_airport', 'arrival_airport'])

# Display the first 5 rows of the grouped data
grouped_routes.apply(lambda x: x.head())

C:\Users\User\AppData\Local\Temp\ipykernel_19096\1800778213.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  grouped_routes.apply(lambda x: x.head())

                                               tbl  Year  quarter  \
departure_airport arrival_airport
ABE               CHI             129481  Table 1a  1994        1
                                  137455  Table 1a  1993        2
                                  139130  Table 1a  1993        3
                                  159206  Table 1a  1993        1
                                  166795  Table 1a  1993        4
...                                            ...   ...      ...
XNA               SWF             8686    Table 1a  2005        1
                                  11891   Table 1a  2009        4
                                  12427   Table 1a  2008        3
                                  17138   Table 1a  2002        2
                                  18316   Table 1a  2011        1

                                          departure_city_id  arrival_city_id  \
departure_airport arrival_airport
ABE               CHI             129481              30135            30977
                                  137455              30135            30977
                                  139130              30135            30977
                                  159206              30135            30977
                                  166795              30135            30977
...                                                     ...              ...
XNA               SWF             8686                31834            31703
                                  11891               31834            31703
                                  12427               31834            31703
                                  17138               31834            31703
                                  18316               31834            31703

                                                          departure_city  \
departure_airport arrival_airport
ABE               CHI             129481  Allentown/Bethlehem/Easton, PA
                                  137455  Allentown/Bethlehem/Easton, PA
                                  139130  Allentown/Bethlehem/Easton, PA
                                  159206  Allentown/Bethlehem/Easton, PA
                                  166795  Allentown/Bethlehem/Easton, PA
...                                                                  ...
XNA               SWF             8686                  Fayetteville, AR
                                  11891                 Fayetteville, AR
                                  12427                 Fayetteville, AR
                                  17138                 Fayetteville, AR
                                  18316                 Fayetteville, AR

                                                                   arrival_city  \
departure_airport arrival_airport
ABE               CHI             129481                            Chicago, IL
                                  137455                            Chicago, IL
                                  139130                            Chicago, IL
                                  159206                            Chicago, IL
                                  166795                            Chicago, IL
...                                                                         ...
XNA               SWF             8686    New York City, NY (Metropolitan Area)
                                  11891   New York City, NY (Metropolitan Area)
                                  12427   New York City, NY (Metropolitan Area)
                                  17138   New York City, NY (Metropolitan Area)
                                  18316   New York City, NY (Metropolitan Area)

                                          departure_airport_id  \
departure_airport arrival_airport
ABE               CHI             129481                 10135
                                  137455                 10135
                                  139130                 10135
                                  159206                 10135
                                  166795                 10135
...                                                        ...
XNA               SWF             8686                   15919
                                  11891                  15919
                                  12427                  15919
                                  17138                  15919
                                  18316                  15919

                                          arrival_airport_id  \
departure_airport arrival_airport
ABE               CHI             129481               10986
                                  137455               10986
                                  139130               10986
                                  159206               10986
                                  166795               10986
...                                                      ...
XNA               SWF             8686                 15070
                                  11891                15070
                                  12427                15070
                                  17138                15070
                                  18316                15070

                                         departure_airport  ... large_ms  \
departure_airport arrival_airport                           ...
ABE               CHI             129481               ABE  ...     0.80
                                  137455               ABE  ...     0.84
                                  139130               ABE  ...     0.66
                                  159206               ABE  ...     0.58
                                  166795               ABE  ...     1.00
...                                                    ...  ...      ...
XNA               SWF             8686                 XNA  ...     0.66
                                  11891                XNA  ...     0.45
                                  12427                XNA  ...     0.84
                                  17138                XNA  ...     0.83
                                  18316                XNA  ...     1.00

                                          fare_lg                carrier_low  \
departure_airport arrival_airport
ABE               CHI             129481   285.85  Continental Airlines Inc.
                                  137455   251.36      US Airways Group Inc.
                                  139130   324.72      US Airways Group Inc.
                                  159206   246.40  Continental Airlines Inc.
                                  166795   343.72      US Airways Group Inc.
...                                           ...                        ...
XNA               SWF             8686     150.11      US Airways Group Inc.
                                  11891    212.90    Northwest Airlines Inc.
                                  12427    308.51      US Airways Group Inc.
                                  17138    403.08       Delta Air Lines Inc.
                                  18316    173.50       Delta Air Lines Inc.

                                          lf_ms fare_low  \
departure_airport arrival_airport
ABE               CHI             129481   0.20   274.45
                                  137455   0.84   251.36
                                  139130   0.66   324.72
                                  159206   0.25   117.60
                                  166795   1.00   343.72
...                                         ...      ...
XNA               SWF             8686     0.16   131.00
                                  11891    0.18   198.95
                                  12427    0.10   211.45
                                  17138    0.08   152.40
                                  18316    1.00   173.50

                                                        tbl1apk  \
departure_airport arrival_airport
ABE               CHI             129481  199411013510986ABECHI
                                  137455  199321013510986ABECHI
                                  139130  199331013510986ABECHI
                                  159206  199311013510986ABECHI
                                  166795  199341013510986ABECHI
...                                                         ...
XNA               SWF             8686    200511591915070XNASWF
                                  11891   200941591915070XNASWF
                                  12427   200831591915070XNASWF
                                  17138   200221591915070XNASWF
                                  18316   201111591915070XNASWF

                                          departure_latitude  \
departure_airport arrival_airport
ABE               CHI             129481           40.602753
                                  137455           40.602753
                                  139130           40.602753
                                  159206           40.602753
                                  166795           40.602753
...                                                      ...
XNA               SWF             8686             36.061928
                                  11891            36.061928
                                  12427            36.061928
                                  17138            36.061928
                                  18316            36.061928

                                         departure_longitude  \
departure_airport arrival_airport
ABE               CHI             129481          -75.469759
                                  137455          -75.469759
                                  139130          -75.469759
                                  159206          -75.469759
                                  166795          -75.469759
...                                                      ...
XNA               SWF             8686            -94.160583
                                  11891           -94.160583
                                  12427           -94.160583
                                  17138           -94.160583
                                  18316           -94.160583

                                          arrival_latitude  arrival_longitude
departure_airport arrival_airport
ABE               CHI             129481         41.775002         -87.696388
                                  137455         41.775002         -87.696388
                                  139130         41.775002         -87.696388
                                  159206         41.775002         -87.696388
                                  166795         41.775002         -87.696388
...                                                    ...                ...
XNA               SWF             8686           40.123164         -75.333718
                                  11891          40.123164         -75.333718
                                  12427          40.123164         -75.333718
                                  17138          40.123164         -75.333718
                                  18316          40.123164         -75.333718

[16974 rows x 25 columns]

In [5]:
# Get the number of flights for each route
route_counts = grouped_routes[['departure_airport', 'arrival_airport', 'passengers']].count()

# Display the first 50 rows of the route counts
route_counts.head(50)

                                   departure_airport  arrival_airport  \
departure_airport arrival_airport
ABE               CHI                              5                5
                  MCO                              5                5
                  MDW                             15               15
                  ORD                             15               15
                  PIE                              5                5
                  TPA                              5                5
ABQ               BOS                             90               90
                  BUR                             98               98
                  BWI                             98               98
                  CHI                             14               14
                  DAL                             98               98
                  DCA                             98               98
                  DET                              1                1
                  DFW                             98               98
                  DTW                              2                2
                  EFD                             33               33
                  EWR                             98               98
                  FLL                              5                5
                  HOU                             98               98
                  HPN                             97               97
                  IAD                             98               98
                  IAH                             98               98
                  ISP                             98               98
                  JFK                             98               98
                  LAS                              3                3
                  LAX                             98               98
                  LGA                             98               98
                  LGB                             98               98
                  MCI                             35               35
                  MDW                             98               98
                  MHT                             90               90
                  MIA                              5                5
                  MSP                              1                1
                  NYC                             15               15
                  OAK                             98               98
                  ONT                             98               98
                  ORD                             98               98
                  PHX                             45               45
                  PVD                             90               90
                  SEA                              2                2
                  SFO                             98               98
                  SJC                             98               98
                  SMF                              6                6
                  SNA                             98               98
                  SWF                             96               96
                  TPA                              5                5
                  WAS                             14               14
ACK               EWR                             16               16
                  HPN                             13               13
                  ISP                              2                2

                                   passengers
departure_airport arrival_airport
ABE               CHI                       5
                  MCO                       5
                  MDW                      15
                  ORD                      15
                  PIE                       5
                  TPA                       5
ABQ               BOS                      90
                  BUR                      98
                  BWI                      98
                  CHI                      14
                  DAL                      98
                  DCA                      98
                  DET                       1
                  DFW                      98
                  DTW                       2
                  EFD                      33
                  EWR                      98
                  FLL                       5
                  HOU                      98
                  HPN                      97
                  IAD                      98
                  IAH                      98
                  ISP                      98
                  JFK                      98
                  LAS                       3
                  LAX                      98
                  LGA                      98
                  LGB                      98
                  MCI                      35
                  MDW                      98
                  MHT                      90
                  MIA                       5
                  MSP                       1
                  NYC                      15
                  OAK                      98
                  ONT                      98
                  ORD                      98
                  PHX                      45
                  PVD                      90
                  SEA                       2
                  SFO                      98
                  SJC                      98
                  SMF                       6
                  SNA                      98
                  SWF                      96
                  TPA                       5
                  WAS                      14
ACK               EWR                      16
                  HPN                      13
                  ISP                       2

In [6]:
# Get the total fares for each route
route_fares = grouped_routes['fare'].sum() * grouped_routes['passengers'].sum()

# Display the first 50 rows of the route fares
route_fares.head(50)

departure_airport  arrival_airport
ABE                CHI                5.936480e+03
                   MCO                1.137370e+06
                   MDW                1.330739e+05
                   ORD                8.498779e+06
                   PIE                2.531174e+05
                   TPA                1.492700e+05
ABQ                BOS                3.233614e+08
                   BUR                1.280507e+08
                   BWI                5.180366e+08
                   CHI                3.992086e+04
                   DAL                7.204495e+08
                   DCA                5.164899e+08
                   DET                2.517880e+03
                   DFW                3.865036e+08
                   DTW                8.116416e+04
                   EFD                3.310034e+05
                   EWR                3.126201e+08
                   FLL                4.246105e+05
                   HOU                3.363736e+08
                   HPN                1.517944e+07
                   IAD                3.195529e+08
                   IAH                3.128546e+08
                   ISP                4.091486e+07
                   JFK                1.522729e+08
                   LAS                7.971048e+05
                   LAX                9.872022e+08
                   LGA                4.213584e+08
                   LGB                2.486068e+07
                   MCI                3.232011e+07
                   MDW                2.474112e+08
                   MHT                7.542980e+07
                   MIA                2.143563e+05
                   MSP                2.243874e+04
                   NYC                2.160518e+05
                   OAK                5.562099e+08
                   ONT                2.059718e+08
                   ORD                4.401781e+08
                   PHX                2.231511e+08
                   PVD                8.851939e+07
                   SEA                1.644854e+05
                   SFO                3.437352e+08
                   SJC                2.453025e+08
                   SMF                6.449803e+05
                   SNA                1.686623e+08
                   SWF                1.279832e+07
                   TPA                6.533865e+05
                   WAS                2.133124e+05
ACK                EWR                2.291156e+06
                   HPN                3.102445e+05
                   ISP                6.305500e+02
dtype: float64

In [7]:
# Sort the route fares from highest to lowest
sorted_route_fares = route_fares.sort_values(ascending=False)

# Display the first 50 rows of the sorted route fares
sorted_route_fares.head(50)

departure_airport  arrival_airport
LAX                JFK                1.706937e+10
JFK                SFO                1.234292e+10
ORD                LGA                7.952892e+09
BOS                SFO                7.157493e+09
EWR                SFO                7.114536e+09
LAX                EWR                6.911173e+09
ORD                LAX                6.745578e+09
                   SFO                6.177967e+09
ATL                LGA                6.111065e+09
BOS                LAX                5.692233e+09
DFW                LGA                5.584718e+09
SFO                IAD                5.437013e+09
LAX                IAD                5.217642e+09
ORD                DFW                4.849745e+09
                   EWR                4.777549e+09
ATL                LAX                4.686955e+09
BOS                LGA                4.507842e+09
                   ORD                4.363765e+09
LAX                SFO                4.281535e+09
FLL                LGA                4.270626e+09
LAS                JFK                4.183564e+09
EWR                MCO                4.128303e+09
LGA                DCA                4.112324e+09
DFW                LAX                4.097121e+09
LAX                SEA                3.955863e+09
ATL                EWR                3.928015e+09
                   DFW                3.840898e+09
LAX                PHL                3.730700e+09
MIA                LGA                3.696824e+09
BOS                DCA                3.661491e+09
DEN                LAX                3.650591e+09
ORD                PHL                3.513303e+09
                   PHX                3.504151e+09
                   DCA                3.450131e+09
DFW                EWR                3.441317e+09
LAS                EWR                3.433856e+09
ATL                BOS                3.424957e+09
                   ORD                3.418447e+09
FLL                EWR                3.393132e+09
ATL                SFO                3.384875e+09
PHL                SFO                3.370461e+09
ORD                LAS                3.300438e+09
BOS                DFW                3.285084e+09
IAH                EWR                3.261141e+09
DEN                SFO                3.259886e+09
                   LGA                3.158231e+09
BOS                MCO                3.137838e+09
LAX                MCO                3.121003e+09
IAH                LGA                3.117173e+09
DTW                LAX                3.094424e+09
dtype: float64

In [8]:
# Create an empty dictionary to store the fares data
fares_data = {}

# Loop through the sorted route fares
for route in sorted_route_fares.index:
    # Get the route name
    route_name = route[0] + "-" + route[1]
    # Get the total fare for the route
    total_fare = sorted_route_fares[route]
    # Add the route and total fare to the fares data
    fares_data[route_name] = total_fare

In [9]:
# Return the top 10 routes with the highest total fares
top_10_routes = dict(list(fares_data.items())[0:10])
for route, fare in top_10_routes.items():
    print(f"{route}: ${fare:,.2f}")

LAX-JFK: $17,069,366,187.48
JFK-SFO: $12,342,920,693.84
ORD-LGA: $7,952,891,598.28
BOS-SFO: $7,157,493,317.36
EWR-SFO: $7,114,535,897.52
LAX-EWR: $6,911,172,558.72
ORD-LAX: $6,745,578,207.84
ORD-SFO: $6,177,967,330.08
ATL-LGA: $6,111,064,595.95
BOS-LAX: $5,692,233,083.40

In [10]:
# Return the lowest 10 routes with the lowest total fares
lowest_10_routes = dict(list(fares_data.items())[-10:])
for route, fare in lowest_10_routes.items():
    print(f"{route}: ${fare:,.2f}")

FLL-TSS: $0.00
BZN-SWF: $0.00
FMY-BDL: $0.00
FMY-DCA: $0.00
FMY-JFK: $0.00
DAL-XNA: $0.00
CAE-LGB: $0.00
FTW-SFO: $0.00
MHT-SWF: $0.00
ORD-HFD: $0.00