In [2]:
import pandas as pd
df = pd.read_csv('C:/Users/zilan/DataClass/New folder/Project_03/Data/US Airline Flight Routes and Fares 1993-2024.csv')
print(df.head())

       tbl  Year  quarter  citymarketid_1  citymarketid_2  \
0  Table1a  2021        3           30135           33195
1  Table1a  2021        3           30135           33195
2  Table1a  2021        3           30140           30194
3  Table1a  2021        3           30140           30194
4  Table1a  2021        3           30140           30466

                            city1                          city2  airportid_1  \
0  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)        10135
1  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)        10135
2                 Albuquerque, NM          Dallas/Fort Worth, TX        10140
3                 Albuquerque, NM          Dallas/Fort Worth, TX        10140
4                 Albuquerque, NM                    Phoenix, AZ        10140

   airportid_2 airport_1  ...    fare  carrier_lg  large_ms  fare_lg  \
0        14112       ABE  ...   81.43          G4    1.0000    81.43
1        15304       ABE  ...  208.93          DL    0.4659   219.98
2        11259       ABQ  ...  184.56          WN    0.9968   184.44
3        11298       ABQ  ...  182.64          AA    0.9774   183.09
4        14107       ABQ  ...  177.11          WN    0.6061   184.49

  carrier_low   lf_ms  fare_low Geocoded_City1  Geocoded_City2  \
0          G4  1.0000     81.43            NaN             NaN
1          UA  0.1193    154.11            NaN             NaN
2          WN  0.9968    184.44            NaN             NaN
3          AA  0.9774    183.09            NaN             NaN
4          AA  0.3939    165.77            NaN             NaN

                 tbl1apk
0  202131013514112ABEPIE
1  202131013515304ABETPA
2  202131014011259ABQDAL
3  202131014011298ABQDFW
4  202131014014107ABQPHX

[5 rows x 23 columns]

C:\Users\zilan\AppData\Local\Temp\ipykernel_8644\3167642265.py:2: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/zilan/DataClass/New folder/Project_03/Data/US Airline Flight Routes and Fares 1993-2024.csv')

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245955 entries, 0 to 245954
Data columns (total 23 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tbl             245955 non-null  object
 1   Year            245955 non-null  int64
 2   quarter         245955 non-null  int64
 3   citymarketid_1  245955 non-null  int64
 4   citymarketid_2  245955 non-null  int64
 5   city1           245955 non-null  object
 6   city2           245955 non-null  object
 7   airportid_1     245955 non-null  int64
 8   airportid_2     245955 non-null  int64
 9   airport_1       245955 non-null  object
 10  airport_2       245955 non-null  object
 11  nsmiles         245955 non-null  int64
 12  passengers      245955 non-null  int64
 13  fare            245955 non-null  float64
 14  carrier_lg      244415 non-null  object
 15  large_ms        244415 non-null  float64
 16  fare_lg         244415 non-null  float64
 17  carrier_low     244343 non-null  object
 18  lf_ms           244343 non-null  float64
 19  fare_low        244343 non-null  float64
 20  Geocoded_City1  206749 non-null  object
 21  Geocoded_City2  206749 non-null  object
 22  tbl1apk         245955 non-null  object
dtypes: float64(5), int64(8), object(10)
memory usage: 43.2+ MB
None

In [4]:
print(df.describe())

                Year        quarter  citymarketid_1  citymarketid_2  \
count  245955.000000  245955.000000   245955.000000   245955.000000
mean     2008.524124       2.479153    31556.430201    32180.117086
std         8.703364       1.122149     1089.872880     1232.464184
min      1993.000000       1.000000    30135.000000    30189.000000
25%      2001.000000       1.000000    30721.000000    30994.000000
50%      2008.000000       2.000000    31423.000000    32211.000000
75%      2016.000000       3.000000    32467.000000    33192.000000
max      2024.000000       4.000000    35412.000000    35628.000000

         airportid_1    airportid_2        nsmiles     passengers  \
count  245955.000000  245955.000000  245955.000000  245955.000000
mean    12437.099986   13249.889525    1189.812319     299.476795
std      1431.665257    1425.810159     703.143472     511.389486
min     10135.000000   10466.000000     109.000000       0.000000
25%     11193.000000   12197.000000     626.000000      21.000000
50%     12266.000000   13303.000000    1023.000000     113.000000
75%     13487.000000   14679.000000    1736.000000     339.000000
max     16440.000000   15919.000000    2724.000000    8301.000000

                fare       large_ms        fare_lg          lf_ms  \
count  245955.000000  244415.000000  244415.000000  244343.000000
mean      218.979587       0.665252     218.710963       0.450438
std        82.372486       0.224635      84.674363       0.332669
min        50.000000       0.003800      50.000000       0.010000
25%       164.620000       0.480000     161.500000       0.158000
50%       209.320000       0.652400     208.030000       0.360000
75%       262.890000       0.871900     263.640000       0.750000
max      3377.000000       1.000000    2725.600000       1.000000

            fare_low
count  244343.000000
mean      190.675939
std        73.577694
min        50.000000
25%       140.060000
50%       181.630000
75%       230.040000
max      2725.600000

In [5]:
print(df.columns)

Index(['tbl', 'Year', 'quarter', 'citymarketid_1', 'citymarketid_2', 'city1',
       'city2', 'airportid_1', 'airportid_2', 'airport_1', 'airport_2',
       'nsmiles', 'passengers', 'fare', 'carrier_lg', 'large_ms', 'fare_lg',
       'carrier_low', 'lf_ms', 'fare_low', 'Geocoded_City1', 'Geocoded_City2',
       'tbl1apk'],
      dtype='object')

In [16]:
# Performing multiple statistical operations
grouped_stats = df.groupby(['Year', 'quarter', 'city1']).agg({
    'fare': ['mean', 'std'],       # Calculate mean and standard deviation for 'fare'
    'passengers': ['sum', 'mean']  # Calculate sum and mean for 'passengers'
}).reset_index()

# Print the result
print(grouped_stats)

   Year quarter        city1   fare     passengers
                               mean std        sum   mean
0  2023       1  Los Angeles  180.0 NaN        400  400.0
1  2023       1     New York  200.0 NaN        500  500.0
2  2023       2  Los Angeles  220.0 NaN        450  450.0
3  2023       2     New York  250.0 NaN        600  600.0
4  2024       1      Chicago  210.0 NaN        550  550.0
5  2024       2      Chicago  230.0 NaN        600  600.0

In [18]:
# Grouping by 'city1' column and calculating the 'fare' difference from the mean for each row
df['Fare Difference from Mean'] = df.groupby('city1')['fare'].transform(lambda x: x - x.mean())

# Print the result
print(df)

   Year  quarter        city1  fare  passengers  Fare Difference from Mean
0  2023        1     New York   200         500                      -25.0
1  2023        2     New York   250         600                       25.0
2  2023        1  Los Angeles   180         400                      -20.0
3  2023        2  Los Angeles   220         450                       20.0
4  2024        1      Chicago   210         550                      -10.0
5  2024        2      Chicago   230         600                       10.0

In [29]:
# Calculate averages for specific columns
avg_fare = df['fare'].mean()           # Average fare
print(f"Average Fare: {avg_fare}")

Average Fare: 215.0

In [30]:
avg_passengers = df['passengers'].mean() 
print(f"Average Passengers: {avg_passengers}")

Average Passengers: 516.6666666666666