In [15]:
from pathlib import Path
import pandas as pd

In [18]:
# Load the datasets
file_path_1 = Path("Data/US Airline Flight Routes and Fares 1993-2024.csv")
file_path_2 = Path("Data/cleaned_flight_data.csv")

# Read the first few rows of each dataset
df_raw = pd.read_csv(file_path_1)
df_cleaned = pd.read_csv(file_path_2)

C:\Users\kelvi\AppData\Local\Temp\ipykernel_4884\938236062.py:6: DtypeWarning: Columns (20,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_raw = pd.read_csv(file_path_1)

In [19]:
# Display basic info and first few rows
df_raw_info = df_raw.info()
df_cleaned_info = df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245955 entries, 0 to 245954
Data columns (total 23 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tbl             245955 non-null  object
 1   Year            245955 non-null  int64
 2   quarter         245955 non-null  int64
 3   citymarketid_1  245955 non-null  int64
 4   citymarketid_2  245955 non-null  int64
 5   city1           245955 non-null  object
 6   city2           245955 non-null  object
 7   airportid_1     245955 non-null  int64
 8   airportid_2     245955 non-null  int64
 9   airport_1       245955 non-null  object
 10  airport_2       245955 non-null  object
 11  nsmiles         245955 non-null  int64
 12  passengers      245955 non-null  int64
 13  fare            245955 non-null  float64
 14  carrier_lg      244415 non-null  object
 15  large_ms        244415 non-null  float64
 16  fare_lg         244415 non-null  float64
 17  carrier_low     244343 non-null  object
 18  lf_ms           244343 non-null  float64
 19  fare_low        244343 non-null  float64
 20  Geocoded_City1  206749 non-null  object
 21  Geocoded_City2  206749 non-null  object
 22  tbl1apk         245955 non-null  object
dtypes: float64(5), int64(8), object(10)
memory usage: 43.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205189 entries, 0 to 205188
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   tbl                   205189 non-null  object
 1   Year                  205189 non-null  int64
 2   quarter               205189 non-null  int64
 3   departure_city_id     205189 non-null  int64
 4   arrival_city_id       205189 non-null  int64
 5   departure_city        205189 non-null  object
 6   arrival_city          205189 non-null  object
 7   departure_airport_id  205189 non-null  int64
 8   arrival_airport_id    205189 non-null  int64
 9   departure_airport     205189 non-null  object
 10  arrival_airport       205189 non-null  object
 11  nsmiles               205189 non-null  int64
 12  passengers            205189 non-null  int64
 13  fare                  205189 non-null  float64
 14  carrier_lg            205189 non-null  object
 15  large_ms              205189 non-null  float64
 16  fare_lg               205189 non-null  float64
 17  carrier_low           205189 non-null  object
 18  lf_ms                 205189 non-null  float64
 19  fare_low              205189 non-null  float64
 20  tbl1apk               205189 non-null  object
 21  departure_latitude    205189 non-null  float64
 22  departure_longitude   205189 non-null  float64
 23  arrival_latitude      205189 non-null  float64
 24  arrival_longitude     205189 non-null  float64
dtypes: float64(9), int64(8), object(8)
memory usage: 39.1+ MB

In [20]:
df_raw_head = df_raw.head()
df_cleaned_head = df_cleaned.head()

In [27]:
df_raw_info, df_raw_head, df_cleaned_info, df_cleaned_head

(None,
        tbl  Year  quarter  citymarketid_1  citymarketid_2  \
 0  Table1a  2021        3           30135           33195
 1  Table1a  2021        3           30135           33195
 2  Table1a  2021        3           30140           30194
 3  Table1a  2021        3           30140           30194
 4  Table1a  2021        3           30140           30466

                             city1                          city2  airportid_1  \
 0  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)        10135
 1  Allentown/Bethlehem/Easton, PA  Tampa, FL (Metropolitan Area)        10135
 2                 Albuquerque, NM          Dallas/Fort Worth, TX        10140
 3                 Albuquerque, NM          Dallas/Fort Worth, TX        10140
 4                 Albuquerque, NM                    Phoenix, AZ        10140

    airportid_2 airport_1  ...    fare  carrier_lg  large_ms  fare_lg  \
 0        14112       ABE  ...   81.43          G4    1.0000    81.43
 1        15304       ABE  ...  208.93          DL    0.4659   219.98
 2        11259       ABQ  ...  184.56          WN    0.9968   184.44
 3        11298       ABQ  ...  182.64          AA    0.9774   183.09
 4        14107       ABQ  ...  177.11          WN    0.6061   184.49

   carrier_low   lf_ms  fare_low Geocoded_City1  Geocoded_City2  \
 0          G4  1.0000     81.43            NaN             NaN
 1          UA  0.1193    154.11            NaN             NaN
 2          WN  0.9968    184.44            NaN             NaN
 3          AA  0.9774    183.09            NaN             NaN
 4          AA  0.3939    165.77            NaN             NaN

                  tbl1apk
 0  202131013514112ABEPIE
 1  202131013515304ABETPA
 2  202131014011259ABQDAL
 3  202131014011298ABQDFW
 4  202131014014107ABQPHX

 [5 rows x 23 columns],
 None,
         tbl  Year  quarter  departure_city_id  arrival_city_id  \
 0  Table 1a  2010        1              34614            33195
 1  Table 1a  1998        4              30189            31703
 2  Table 1a  1998        4              30198            30852
 3  Table 1a  2009        3              32211            32575
 4  Table 1a  1993        4              30255            30852

          departure_city                           arrival_city  \
 0    Salt Lake City, UT          Tampa, FL (Metropolitan Area)
 1  Colorado Springs, CO  New York City, NY (Metropolitan Area)
 2        Pittsburgh, PA     Washington, DC (Metropolitan Area)
 3         Las Vegas, NV    Los Angeles, CA (Metropolitan Area)
 4        Huntsville, AL     Washington, DC (Metropolitan Area)

    departure_airport_id  arrival_airport_id departure_airport  ... large_ms  \
 0                 14869               15304               SLC  ...     0.38
 1                 11109               12197               COS  ...     0.73
 2                 14122               10821               PIT  ...     0.93
 3                 12889               14908               LAS  ...     0.58
 4                 12217               12264               HSV  ...     0.48

    fare_lg                carrier_low  lf_ms fare_low                tbl1apk  \
 0   247.69      US Airways Group Inc.   0.20   166.99  201011486915304SLCTPA
 1   292.60    Northwest Airlines Inc.   0.24   248.27  199841110912197COSHPN
 2   245.70  Continental Airlines Inc.   0.03    71.30  199841412210821PITBWI
 3   118.28      US Airways Group Inc.   0.41   102.75  200931288914908LASSNA
 4   275.50      United Air Lines Inc.   0.25   197.69  199341221712264HSVIAD

    departure_latitude departure_longitude  arrival_latitude  arrival_longitude
 0           40.758478         -111.888142         37.860600         -78.804199
 1           38.835224         -104.819798         40.123164         -75.333718
 2           40.442169          -79.994945         38.892062         -77.019912
 3           36.169202         -115.140597         34.052238        -118.243344
 4           34.729538          -86.585283         38.892062         -77.019912

 [5 rows x 25 columns])

In [24]:
# Drop unnecessary columns and rename for consistency
df_cleaned = df_raw.drop(columns=["Geocoded_City1", "Geocoded_City2", "tbl1apk"])
df_cleaned.head()

,tbl,Year,quarter,citymarketid_1,citymarketid_2,city1,city2,airportid_1,airportid_2,airport_1,airport_2,nsmiles,passengers,fare,carrier_lg,large_ms,fare_lg,carrier_low,lf_ms,fare_low
0,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,14112,ABE,PIE,970,180,81.43,G4,1.0000,81.43,G4,1.0000,81.43
1,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,15304,ABE,TPA,970,19,208.93,DL,0.4659,219.98,UA,0.1193,154.11
2,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11259,ABQ,DAL,580,204,184.56,WN,0.9968,184.44,WN,0.9968,184.44
3,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11298,ABQ,DFW,580,264,182.64,AA,0.9774,183.09,AA,0.9774,183.09
4,Table1a,2021,3,30140,30466,"Albuquerque, NM","Phoenix, AZ",10140,14107,ABQ,PHX,328,398,177.11,WN,0.6061,184.49,AA,0.3939,165.77

In [28]:
# Standardizing column names
df_cleaned = df_cleaned.rename(columns={
    "tbl": "table",
    "Year": "year",
    "quarter": "quarter",
    "citymarketid_1": "departure_city_id",
    "citymarketid_2": "arrival_city_id",
    "city1": "departure_city",
    "city2": "arrival_city",
    "airportid_1": "departure_airport_id",
    "airportid_2": "arrival_airport_id",
    "airport_1": "departure_airport",
    "airport_2": "arrival_airport",
    "nsmiles": "distance_miles",
    "passengers": "passengers",
    "fare": "average_fare",
    "carrier_lg": "largest_carrier",
    "large_ms": "largest_carrier_market_share",
    "fare_lg": "largest_carrier_fare",
    "carrier_low": "low_fare_carrier",
    "lf_ms": "low_fare_market_share",
    "fare_low": "low_fare"
})

In [29]:
# Handling missing values
df_cleaned = df_cleaned.fillna({
    "largest_carrier": "Unknown",
    "largest_carrier_market_share": 0,
    "largest_carrier_fare": df_cleaned["largest_carrier_fare"].median(),
    "low_fare_carrier": "Unknown",
    "low_fare_market_share": 0,
    "low_fare": df_cleaned["low_fare"].median()
})

In [30]:
# Remove duplicates if any
df_cleaned = df_cleaned.drop_duplicates()

In [31]:
# Save the cleaned dataset
cleaned_file_path = Path("Data/cleaned_flight_data_v2.csv")
df_cleaned.to_csv(cleaned_file_path, index=False)

In [32]:
# Display summary of cleaned data
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245955 entries, 0 to 245954
Data columns (total 20 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   table                         245955 non-null  object
 1   year                          245955 non-null  int64
 2   quarter                       245955 non-null  int64
 3   departure_city_id             245955 non-null  int64
 4   arrival_city_id               245955 non-null  int64
 5   departure_city                245955 non-null  object
 6   arrival_city                  245955 non-null  object
 7   departure_airport_id          245955 non-null  int64
 8   arrival_airport_id            245955 non-null  int64
 9   departure_airport             245955 non-null  object
 10  arrival_airport               245955 non-null  object
 11  distance_miles                245955 non-null  int64
 12  passengers                    245955 non-null  int64
 13  average_fare                  245955 non-null  float64
 14  largest_carrier               245955 non-null  object
 15  largest_carrier_market_share  245955 non-null  float64
 16  largest_carrier_fare          245955 non-null  float64
 17  low_fare_carrier              245955 non-null  object
 18  low_fare_market_share         245955 non-null  float64
 19  low_fare                      245955 non-null  float64
dtypes: float64(5), int64(8), object(7)
memory usage: 37.5+ MB

In [33]:
df_cleaned.head()

,table,year,quarter,departure_city_id,arrival_city_id,departure_city,arrival_city,departure_airport_id,arrival_airport_id,departure_airport,arrival_airport,distance_miles,passengers,average_fare,largest_carrier,largest_carrier_market_share,largest_carrier_fare,low_fare_carrier,low_fare_market_share,low_fare
0,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,14112,ABE,PIE,970,180,81.43,G4,1.0000,81.43,G4,1.0000,81.43
1,Table1a,2021,3,30135,33195,"Allentown/Bethlehem/Easton, PA","Tampa, FL (Metropolitan Area)",10135,15304,ABE,TPA,970,19,208.93,DL,0.4659,219.98,UA,0.1193,154.11
2,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11259,ABQ,DAL,580,204,184.56,WN,0.9968,184.44,WN,0.9968,184.44
3,Table1a,2021,3,30140,30194,"Albuquerque, NM","Dallas/Fort Worth, TX",10140,11298,ABQ,DFW,580,264,182.64,AA,0.9774,183.09,AA,0.9774,183.09
4,Table1a,2021,3,30140,30466,"Albuquerque, NM","Phoenix, AZ",10140,14107,ABQ,PHX,328,398,177.11,WN,0.6061,184.49,AA,0.3939,165.77